@import "../config";

.nm-home {
	.link {
		color: rgb(150, 150, 150);
		&:hover {
			color: $nm-color;
		}
	}
	.intro {
		.list {
			width: 100%;
			text-align: center;
			padding-top: 30px;
			.item {
				display: inline-block;
				vertical-align: top;
				width: 30%;
				height: 360px;
				margin: 10px;
				background: white;
				box-shadow: 0px 0px 1px black;
				border-radius: 20px;
				text-align: center;
				transition: all 0.2s ease-in-out;
				@media only screen and (max-width: 1000px) {
					display: block;
					width: 70%;
					height: auto;
					margin: auto;
					margin-bottom: 20px;
				}
				@media only screen and (max-width: $nm-screen-sm) {
					width: 100%;
				}
				&:hover {
					box-shadow: 0px 0px 10px grey;
				}
				.icon {
					color: $nm-color;
					height: 100px;
					margin-top: 20px;
				}
				.text {
					padding: 20px;
				}
			}
		}
	}

	.circuits {
		.quad {
			display: block;
			width: 100%;
			height: 500px;
			padding-top: 40px;
			@media only screen and (max-width: $nm-screen-md) {
				height: auto;
			}
			.item {
				display: inline-block;
				width: 50%;
				overflow: hidden;
				@media only screen and (max-width: $nm-screen-md) {
					display: block;
					width: 100%;
					margin-bottom: 20px;
				}
				.content {
					display: inline-block;
					width: 98%;
					overflow: hidden;
					@media only screen and (max-width: $nm-screen-md) {
						width: 100%;
					}
					.box {
						display: block;
						width: 100%;
						height: 100%;
						overflow: hidden;
					}
					.title {
						color: white;
						text-shadow: 0px 1px 2px black;
						pointer-events: none;
					}
					.price {
						padding-top: 20px;
						font-style: italic;
						text-align: center;
						color: white;
						text-shadow: 0px 1px 2px black;
						pointer-events: none;
						.nb {
							color: lime;
							text-shadow: 0px 1px 1px black;
						}
					}
					.duration {
						color: $nm-color;
						padding-top: 20px;
						text-align: center;
						text-shadow: 0px 1px 2px black;
						pointer-events: none;
					}
				}
				.overlay {
					display: block;
					width: 100%;
					height: 100%;
					overflow: hidden;
					background: transparent;
					transition: background 0.2s ease-in-out;
					position: relative;
					top: -100%;
					&:hover {
						background: rgba(0, 0, 0, 0.6);
					}
					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
			.left {
				float: left;
				text-align: left;
				@media only screen and (max-width: $nm-screen-md) {
					float: none;
					text-align: center;
				}
			}
			.right {
				float: right;
				text-align: right;
				@media only screen and (max-width: $nm-screen-md) {
					float: none;
					text-align: center;
				}
			}
			.little {
				height: 230px;
				@media only screen and (max-width: $nm-screen-md) {
					height: 270px;
				}
				.content {
					height: 220px;
					@media only screen and (max-width: $nm-screen-md) {
						height: 270px;
					}
					.title {
						padding-top: 60px;
						@media only screen and (max-width: $nm-screen-md) {
							padding-top: 90px;
						}
						.icon {
							width: 30px;
						}
					}
				}
			}
			.big {
				height: 270px;
				@media only screen and (max-width: $nm-screen-md) {
					height: 270px;
				}
				.content {
					height: 260px;
					@media only screen and (max-width: $nm-screen-md) {
						height: 270px;
					}
					.title {
						padding-top: 80px;
						@media only screen and (max-width: $nm-screen-md) {
							padding-top: 90px;
						}
					}
				}
			}
		}
	}
}