/*
	Some global styling data
*/

//Screen resolutions
$nm-screen-xlg: 9999px;
$nm-screen-lg: 1400px;
$nm-screen-md: 900px;
$nm-screen-sm: 768px;
$nm-screen-xsm: 550px;
//Theme color
$nm-color: rgb(234, 172, 42);
$nm-color-highlight: rgb(255, 248, 118);