@import "../config.scss";

.nm-footer {
	display: flex;
	width: 100%;
	justify-content: center;
	background: url(../../img/fond_nav_namanagasycar.jpg) center center no-repeat;
	background-size: cover;
	box-shadow: 0px 0px 4px black;
	.nm-text {
		padding-top: 20px;
		padding-bottom: 20px;
		color: white;
		text-shadow: 0px 1px 2px black;
		.link {
			color: $nm-color;
			&:hover {
				color: $nm-color-highlight;
			}
		}
	}
	.left {
		padding-right: 10px;
	}
	.right {
		padding-left: 10px;
	}
}