.circuit-details {
	margin-top: 96px;

	&__main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: auto;
		grid-gap: 20px;
		@include screen-x(900px) {
			display: block;
		}
	}
}