.cover-home {
	height: calc(100vh - 76px);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
	margin-top: 76px;
	background: rgba(30, 30, 30);

	&__bg {
		background: url(../public/images/baobabs-morondava.jpg) center center no-repeat;
		background-size: cover;
	}

	&__overlay {
		background: rgba(0, 0, 0, 0.4);
	}

	&__title {
		font-size: 6em;
		@include screen-x(1400px) {
			font-size: 4em;
		}
		@include screen-x(800px) {
			font-size: 3em;
		}
		@include screen-x(400px) {
			font-size: 2em;
		}
	}

	&__title2 {
		font-size: 2em;
		@include screen-x(1400px) {
			font-size: 1.8em;
		}
		@include screen-x(800px) {
			font-size: 1.4em;
			margin-top: 20px;
			margin-bottom: 20px;
		}
		@include screen-x(400px) {
			font-size: 1.2em;
		}
	}

	&__title,
	&__title2 {
		text-shadow: 1px 1px 3px black;
	}

	&__check {
		font-size: 1.4em;
		border: 3px $color-theme solid;
		background: rgba(0, 0, 0, 0.4);
		&:hover {
			color: white;
			background: rgba(0, 0, 0, 0.8);
		}
		&:active {
			border: 3px white solid;
			background: black;
		}
		@include screen-x(1400px) {
			font-size: 1em;
		}
	}

	&__top {
		flex: 1;
	}

	&__bottom {
		height: 120px;
	}

	&__separator {
		height: 5px;
		border-radius: 3px;
		box-shadow: 1px 1px 3px black;
		@include screen-x(600px) {
			width: 80%;
		}
	}

	.social {
		@include flex-row(center, initial);
		padding-top: 20px;
		padding-bottom: 20px;
		&__item {
			margin-left: 20px;
			margin-right: 20px;
		}
		&__link {
			font-size: 3em;
			color: white;
			&:hover {
				color: $color-theme;
			}
		}
	}
}