// FastUI and global styles
@import "./mixins.scss";
@import "./container.scss";
@import "./fastui.css";
@import "./vars.scss";


#__next {
	overflow: visible;
}

main {
	height: auto;
}

// Component styles
@import "./Navbar.scss";
@import "./CoverHome.scss";
@import "./CircuitCard.scss";
@import "./CircuitList.scss";
@import "./Copyright.scss";
@import "./Spinner.scss";
@import "./PageLoading.scss";
@import "./Planning.scss";
@import "./Itinerary.scss";
@import "./CircuitDetails.scss";
